html, body {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}

.nav {
    width: 300px;
    position: relative;
    margin-left: 30px;
}
.main-menu{
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-menu a{
    display: block;
    padding: 10px;
    text-transform: capitalize;
    text-decoration: none;
    background-color: rgb(129, 28, 28);
    color: white;
    font-weight: bold;
    border-bottom: solid 1px #ccc;
}
.main-menu a:hover {
    cursor: pointer;
    background-color: rgb(194, 58, 58);
    
}